#hero {
  width: 100%;
  height: 350px;
  background: linear-gradient(rgba(72, 72, 120, 0.9), rgba(147, 147, 226, 0.1)), url("../img/highres_482405619.jpeg") top center;
  background-size: cover;
  position: relative;
}

#hero h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #cd1e78;
  color: #fff;
  text-decoration: none;
}

.btn-get-started:hover {
  background: #1bb1dc;
  border: 3px solid #1bb1dc;
  text-decoration: none;
  transform: scale(1.03);
}

/*Cor do Fundo 
*/

.events .section-title h2 {
  color: #fff;
}

.events .container {
  position: relative;
}

@media (min-width: 1024px) {
  .events {
    background-attachment: fixed;
  }
}

/*.events .events-carousel {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
}
/*Cor Letra Carrossel 
*/

.events .event-item {
  color: rgb(5, 5, 5);
}

.events .event-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #cda45e;
}

.events .event-item .price {
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.events .event-item .price span {
  border-bottom: 2px solid #cda45e;
}

.events .event-item ul {
  list-style: none;
  padding: 0;
}

.events .event-item ul li {
  padding-bottom: 10px;
}

.events .event-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #cda45e;
}

.events .event-item p:last-child {
  margin-bottom: 0;
}

.events .owl-nav, .events .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.events .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.events .owl-dot.active {
  background-color: #cda45e !important;
}

@media (min-width: 992px) {
  .events .testimonial-item p {
    width: 80%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #ffc451;
}

a:hover {
  color: #ffd584;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

#header .logo img {
  max-height: 40px;
}

.bg-dark {
  background: transparent !important;
}

.bg-dark.scrolled {
  transition: 750ms ease;
  background: rgba(205, 30, 120, 0.8) !important;
}


.nav-link {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.nav-link:hover {
  text-decoration-line: underline;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 991px) {

  #nav-container .navbar{
      padding: 0;
  }

.nav-link {
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      padding: 4px;
  }
  

}   


@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: auto;
  }
  #hero h2 {
    font-size: 35px;
    line-height: 24px;
    text-align: center;
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #151515;
}

.footer_cg {
  background-color: #cd1e78;
}

.icon_redes {
  padding: 0.5rem;
  text-align: left;
}

.icones_redes_cg {
  float: left;
}

.conduta {
  
  font-size: 19px
}

.email_cg {
  float: right;
  font-size: 14px;
  text-decoration: none;
 
}

a {
  color: #ffffff;
  font-size: 16px;
}

.designer {
  color: #fff;
}

.designer-c {
 color: #fff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}


