/* ínicio do cabeçalho */

/* copiar toda essa parte para o navbar */

.bg-dark {
    background: rgba(205, 30, 120, 0.8) !important;
}

/* .bg-dark.scrolled {
    transition: 750ms ease;
    background: rgba(205,30,120,0.8) !important;
} */

.section-bg {
    padding: 20px 0 !important;
}

/* ate aqui */

/* fim do cabeçalho */

/* ----- Tamanho máximo ----- */

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 2000px;
        padding: 0 10%;
    }
}

.bg-dark {
    background: transparent !important;
}

.bg-dark.scrolled {
    transition: 750ms ease;
    background: rgba(205, 30, 120, 0.8) !important;
}

.nav-link {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

.nav-link:hover {
    text-decoration-line: underline;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

@media (max-width: 991px) {
    #nav-container .navbar {
        padding: 0;
    }
    .nav-link {
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
        padding: 4px;
    }
}

/* ----- Banner ----- */

#hero {
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(72, 72, 120, 0.8), rgba(72, 72, 120, 0.4)), url("../img/banner.jpeg") top center;
    background-size: cover;
    position: relative;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 600px) {
    h2 {
        font-size: 38px;
    }
}

@media (max-width: 768px) {
    #hero {
        height: auto;
    }
}

.text-org {
    font-family: "Roboto", sans-serif;
    font-size: 125%;
    color: #4f4f8f;
    font-weight: bold;
}

/* Início das Organizadoras */

.team {
    background: #fff;
    padding: 60px 0;
}

.team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.team .member .member-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.team .member .member-info-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

.team .member .member-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

.team .member .social {
    position: absolute;
    left: 0;
    bottom: -38px;
    right: 0;
    height: 48px;
    transition: bottom ease-in-out 0.4s;
    text-align: center;
}

.team .member .social a {
    transition: color 0.3s;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
}

.team .member .social a:hover {
    color: #4f4f8f;
}

.team .member .social i {
    font-size: 25px;
}

.team .member:hover .member-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
}

.team .member:hover .member-info-content {
    bottom: 60px;
    transition: bottom 0.4s;
}

.team .member:hover .social {
    bottom: 0;
    transition: bottom ease-in-out 0.4s;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

/* Fim das Organizadoras */

/* Imagem Fundo */

#teste {
    width: 100%;
    height: 470px;
}

/* Imagem Fundo */

/* ínicio do rodapé */

.footer_cg {
    background-color: #cd1e78;
}

.icon_redes {
    padding: 0.5rem;
    text-align: left;
}

.icones_redes_cg {
    float: left;
}

.conduta {
    font-size: 19px
}

.email_cg {
    float: right;
    font-size: 16px;
    text-decoration: none;
}

a {
    color: #ffffff;
    font-size: 16px;
}

.designer {
    color: #fff;
    font-size: 16px;
}

.designer-c {
    color: #fff;
    font-size: 16px;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 991px) {
    .email_cg {
        font-size: 14px;
        text-align: center;

    }
    .designer-c {
        font-size: 14px;
    }

    .icon_redes {
        padding: 3px;
    }
}

/* fim do rodapé */

/* ajuste para desktop */

@media only screen and (min-width: 769px) {
    body, html {
        width: 100%;
        height: 100%;
    }
    .Nav_logo_img {
        width: 3rem;
    }
    .container-fluid {
        padding: 0;
        margin: 0;
    }
    .img_cloud {
        margin-top: 25%;
        width: 35%;
    }
    .footer_cg {
        margin-top: -10px;
    }
}