/* ínicio do cabeçalho */
.bg-dark{
    background: transparent !important;
}

.bg-dark.scrolled {
    transition: 750ms ease;
    background: #cd1e78cc !important;
}

.nav-link {
    font-size: 20px;
}
.nav-link:hover {
    color:#696969 !important;
   
}
/* fim do cabeçalho */


/* Início das Organizadoras */
.team {
    background: #fff;
    padding: 60px 0;
}
  
.team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
  
.team .member .member-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.team .member .member-info-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    transition: bottom 0.4s;
}
  
.team .member .member-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}
  
.team .member .member-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}
  
.team .member .social {
    position: absolute;
    left: 0;
    bottom: -38px;
    right: 0;
    height: 48px;
    transition: bottom ease-in-out 0.4s;
    text-align: center;
}
  
.team .member .social a {
    transition: color 0.3s;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
}
  
.team .member .social a:hover {
    color: #8a2be2;
}
  
.team .member .social i {
    font-size: 25px;       
}
  
.team .member:hover .member-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
}
  
.team .member:hover .member-info-content {
    bottom: 60px;
    transition: bottom 0.4s;
}
  
.team .member:hover .social {
    bottom: 0;
    transition: bottom ease-in-out 0.4s;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}
/* Fim das Organizadoras */

/* Imagem Fundo */
#teste{
    width: 100%;
    height: 470px;
}
/* Imagem Fundo */

/* ínicio do rodapé */
.footer_cg{
    background-color: #cd1e78;    
}

.icon_redes{
    padding: 0.5rem;
    text-align: left;    
}

.icones_redes_cg{
    float: left;
}

.email_cg{
    float: right;
    font-size: 120%;
    color: #ffffff;
}

.email_cg{
    float: right;
    font-size: 120%;    
}

a {
    color: #ffffff;
}
/* fim do rodapé */

/* ajuste para desktop */
@media only screen and (min-width: 769px){
    .navbar {
        background-color: #4848784d;
    }

    body, html {
        width: 100%;
        height: 100%;       
    }
    
    .Nav_logo_img{
        width: 3rem;
    }
    
    .container-fluid {
        padding: 0;
        margin: 0;
    } 
 
    .img_cloud {
        margin-top: 25%;
        width: 35%;
    }

    .footer_cg{
        margin-top: -10px;
    } 
}